header{
  text-align: center;
  margin: 20px;
  font-size: 20px;

}
body {
  background-image: url("../../image/sisliormanpng.png"); 
  color: rgba(211, 211, 211, 0.953);
    background-repeat: no-repeat;   /* tekrar etme */
  background-position: center;    /* ortala */
  background-size: cover;         /* ekranı kaplayacak şekilde ölçekle */
}
main {
  display: flex;
  justify-content: center; 
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
header h2 {
  text-align: center;
  margin: 20px;
  font-size:25px;
}
main img {
  width: 340px;
  height: 300px;
  border-radius: 20px;
  text-align: center;
}
div {
  float: left;
  margin: 20px;
}
