header{
  text-align: center;
  margin: 20px;
  font-size: 35px;

}
body {
  background-image: url("../../image/sisliormanpng.png"); 
}
main {
  display: flex;
  justify-content: center; 
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
header h2 {
  text-align: center;
  margin: 20px;
  font-size: 50px;
}
main img {
  width: 350px;
  height: 270px;
  border-radius: 20px;
  text-align: center;
}
div {
  float: left;
  margin: 20px;
}