body {
  background-image: url("../../../image/aydınlıkyol.png"); 
  font-size: 30px;
  text-align: center;
  color: white;
  background-repeat: no-repeat;   /* tekrar etme */
  background-position: center;    /* ortala */
  background-size: cover;         /* ekranı kaplayacak şekilde ölçekle */
}
img
{
  width: 440px;
  height: 400px;
  border-radius: 20px;
  text-align: center;
}